* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk' ، sans-serif;
}

/* //////////////////////////////////////////////////////////////////////////////// */

/* HEADER */

/* main nav body */
nav {
    margin-top: 20px;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 7vw 0vw 7vw;
}

/* nav logo */
.nav img {
    padding: 10px 0px 10px 0px;
}

/* nav links */
.nav-part2 {
    display: flex;
    align-items: center;
    gap: 3vw;
    justify-content: space-between;
}

/* nav links styling */
.nav-part2 h4 {
    letter-spacing: 0.02vw;
    font-size: 1.2vw;
    font-style: normal !important;
}

/* nav menue icon  */
.nav-part2 i {
    font-size: 1.5vw;
    font-weight: 700;
    display: none;
}

/* nav btn */
.nav-part2 button {
    font-size: 1.2vw;
    letter-spacing: 0.02vw;
    color: black;
    padding: 0.8vw 1.5vw;
    border: 0.8px solid black;
    background-color: transparent;
    border-radius: 12px;
    font-weight: 600px;
}

/* //////////////////////////////////////////////////////////////////////////////// */

/* content-1 hero section */

.content {
    height: 540px;
    width: 100%;
    display: flex;
}

/* left side of hero section */
.left {
    width: 55%;
    height: 100%;
    padding: 3vw 6.8vw;
}

.left h1 {
    font-size: 5vw;
    line-height: 6vw;
    width: 96%;
    font-weight: 400;
}

.left p {
    font-size: 1.5vw;
    font-weight: 300;
    color: #2b2b2b;
    width: 85%;
    margin-top: 2.5vw;
    margin-bottom: 3.2vw;
}

.left button {
    font-size: 1.2vw;
    background-color: #191a23;
    color: #fff;
    padding: 1.2vw 1.8vw;
    border: none;
    border-radius: 8px;
    font-weight: 300px;
}

/* right side of hero section */
.right {
    padding: 2.5vw 4.8vw;
    width: 45%;
    height: 100%;
}

.right img {
    margin-top: 2vw;
    width: 100%;
    height: auto;
}


/* content 2 company's logo////////////////////////////////////////////////////////////////////////////////// */

.content-2 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 50px;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #b9ff66;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.logos img {
    height: 3vw;
}

/* services and working fow side text styling////////////////////////////////////////////////////////////// */

.content-3 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.services {
    display: flex;
    align-items: center;
    padding: 30px 40px;
}

.services h2 {
    background-color: #c4ef00;
    color: #000000;
    padding: 5px 10px;
    margin: 0;
    font-size: 1.8vw;
}

.services p {
    margin-left: 1.5vw;
    font-size: large;
}

/* services section cards ============================================================= */

.content-4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
}

.left-card,
.right-card {
    border: 1px solid black;
    border-radius: 45px;
    height: 245px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.left-card {
    background-color: #F3F3F3;
}

.right-card {
    background-color: #B9FF66;
}

.card-content {
    flex: 0 0 50%;
    padding: 40px;
}

.card-content h2 {
    display: inline;
    padding: 2px;
    border-radius: 5px;
    font-size: 1.86rem;
    font-weight: 500;
    color: black;
}

.left-card h2 {
    background-color: #B9FF66;
}

.right-card h2 {
    background-color: #F3F3F3;
}

.card-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.card-btn i {
    font-size: 1.6rem;
    padding: 4px;
    transform: rotate(-40deg);
    color: #B9FF66;
    background-color: black;
    border-radius: 50%;
}

.card-btn button {
    font-size: 1rem;
    background-color: transparent;
    letter-spacing: 0.1em;
    border: none;
    cursor: pointer;
}

.card-img {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-img,
.right-img {
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.left-img {
    background-image: url('./assets/leftcard\ illustration.png');
}

.right-img {
    background-image: url('./assets/rightcard\ illustration.png');
}


/* faq section */

/* main container */
.content-5 {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
}

/* faq on displaying question and answer */
.on {
    height: 200px;
    padding: 20px 45px;
    background-color: #B9FF66;
    border: 1px solid black;
    border-bottom: 4px solid black;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 20px;
}

/* question main container */
.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
}

.minus-icon,
.plus-icon {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 5px;
    background-color: #F3F3F3;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

/* qeus no and ques */
.q-no {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.q-no h1 {
    font-size: 3rem;
}

.q-no h2 {
    font-size: 1.8rem;
}

.line {
    width: 100%;
    height: 1%;
    background-color: #000000;
}

/* answer */
.answer {
    font-style: normal;
    padding: 20px 10px;
    line-height: 1.5rem;
    font-weight: 200;
    font-size: 1rem;
}

/* faq off */
.off {
    height: 120px;
    padding: 20px 45px;
    border: 1px solid black;
    border-bottom: 4px solid black;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #F3F3F3;
}

/* form section */
.form-section {
    padding: 10px 80px;
    margin: 20px auto;
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 45px;
    overflow: hidden;
}

form {
    padding: 0px 10px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.form-head {
    display: flex;
    margin-bottom: 30px;
    gap: 40px;
}

.form-input input,
.form-input textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-input textarea {
    resize: none;
    height: 100px;
}

form button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.form-images {
    left: 290px;
    width: 50%;
    height: 100%;
    position: relative;
}

.form-img1 {
    background-image: url('./assets/Mask\ group.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.form-img2,
.form-img3 {
    position: absolute;
}

.form-img2 {
    background-image: url('./assets/form\ img\ star\ black.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    top: 30%;
    left: 10%;
    transform: scale(1.3);
}

.form-img3 {
    background-image: url('./assets/form\ img\ star\ green.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    bottom: -15%;
    right: 50%;
    transform: scale(0.25);
}


/* fooooter */

.footer {
    margin-top: 50px;
}

.container {
    padding: 30px 35px 0px 35px;
}

.content_footer {
    background-color: #191A23;
    padding: 30px 35px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    color: white;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_nav .logo img {
    max-width: 120px;
    display: inline;
    background-color: white;
}

.nav_links {
    display: flex;
    gap: 30px;
    color: white;
}

.icons {
    display: flex;
    gap: 15px;
    font-size: 1.2rem;
    color: white;
}

.icons i {
    cursor: pointer;
}

.footer_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.footer_details {
    font-weight: 300;
    padding: 30px;
    color: white;
}

.footer_details button,
.footer_details p {
    margin: 10px;
}

.footer_details button {
    width: 45%;
    background-color: #B9FF66;
    border-radius: 10px;
    padding: 8px;
    color: black;
}

.footer_frm {
    background-color: #292A32;
    width: 50%;
    height: 11rem;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.email_input {
    padding: 10px 20px;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    width: 41%;
}

.subscribe_btn {
    padding: 10px 20px;
    background-color: #B9FF66;
    color: black;
    border: none;
    border-radius: 10px;
}

hr {
    margin-bottom: 20px;
}

.footer_end {
    font-family: "Space Grotesk", sans-serif;
}

.footer_end hr {
    border: 1px solid #292A32;
    margin-bottom: 10px;
}

.footer_end p {
    margin: 0;
    text-align: left;
}

.footer_end span {
    text-decoration: underline;
    cursor: pointer;
}



/* RESPONSIVE */

/* responsive header & first section*/
@media (max-width: 600px) {
    nav {
        padding: 0 6%;
        height: 60px;
    }

    .nav-part2 h4 {
        display: none;
    }

    .nav-part2 i {
        display: block;
        font-size: 6vw;
    }

    .nav-part2 button {
        display: none;
    }

    .content {
        flex-direction: column;
    }

    .left {
        padding: 4vw 6vw;
        width: 100%;
        height: 800px;
    }

    .left h1 {
        font-size: 10vw;
        line-height: 11vw;
        width: 100%;
    }

    .left p {
        font-size: 3vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 7vw;
    }


    .left button {
        padding: 3vw 6vw;
        font-size: 3.5vw;
        border-radius: 3px;
        font-weight: 600px;
    }

    .right {
        width: 100%;
        height: 1800px;
        z-index: 1;
        overflow: hidden
    }

    /* cards section */

    .left-card,
    .right-card {
        width: 90%;
        flex-direction: column;
        height: auto;
    }

    .card-content {
        flex: 0 0 100%;
    }

    .card-content h2 {
        font-size: 2rem;
    }
}